@font-face {
  font-family: "iconfont"; /* Project id 3680438 */
  src: url('iconfont.woff2?t=1664443476533') format('woff2'),
       url('iconfont.woff?t=1664443476533') format('woff'),
       url('iconfont.ttf?t=1664443476533') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e60c";
}

